
frontend/public/android-chrome-192x192.png
frontend/public/apple-touch-icon.png
frontend/public/favicon-16x16.png
frontend/public/favicon-32x32.png
frontend/public/favicon.ico
frontend/src/assets/logo.png
frontend/public/mstile-150x150.png
frontend/src/assets/wave.png